body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1; }

.sidebar {
  width: 80%;
  height: 100%;
  background-color: #5E35B1;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  overflow-y: hidden;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-transform: translateX(-102%);
          transform: translateX(-102%);
  will-change: transform;
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3, 1) all;
  transition: 0.2s cubic-bezier(0, 0, 0.3, 1) all; }
  .sidebar .sidebar-links {
    width: 100%;
    height: 250px;
    padding: 0 5px; }
    .sidebar .sidebar-links a {
      width: 100%;
      display: block;
      float: left;
      margin: 3px 0;
      padding: 15px 0 15px 10px;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      color: white;
      border: 1px solid rgba(255, 64, 129, 0.1); }

.exit {
  height: 74px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
      -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
      -webkit-box-align: center;
          align-items: center; }
  .exit label {
    font-size: 24px;
    font-weight: 700;
    color: white; }

#toggler-1 {
  display: none; }
  #toggler-1:checked + .sidebar {
    -webkit-transform: translateX(0);
            transform: translateX(0); }

.navigation {
  width: 100%;
  padding: 25px 10px 25px 10px;
  background-color: #4527A0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-align: center;
      -webkit-box-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
  .navigation .icon {
    width: 10%; }
    .navigation .icon label {
      font-size: 24px;
      font-weight: 700;
      color: white; }
  .navigation .title {
    width: 80%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
        -webkit-box-pack: center;
            justify-content: center; }
    .navigation .title h1 {
      font-family: 'Lato', sans-serif;
      font-size: 24px;
      font-weight: 300;
      color: white; }
  .navigation .add {
    width: 10%;
    font-size: 24px;
    font-weight: 700;
    color: white;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg); }

.search-tab {
  width: 100%;
  height: 40px;
  margin-top: 73px;
  background-color: #512DA8;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
      -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
      -webkit-box-align: center;
          align-items: center; }
  .search-tab .search-input {
    min-width: 220px;
    height: 25px;
    padding: 2px 5px;
    background-color: #7E57C2;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Lato', sans-serif; }
    .search-tab .search-input:focus {
      outline: none; }

.fav-title {
  height: 35px;
  width: 100%;
  background-color: #5E35B1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
      -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
      -webkit-box-align: center;
          align-items: center;
  position: relative;
  top: -2px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 15px; }

.wrapper {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
      -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
      -webkit-box-align: center;
          align-items: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .wrapper card-directive {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            flex-direction: column; }
  .wrapper favcard-directive {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            flex-direction: column; }

card-directive .card {
  width: 290px;
  height: 290px;
  margin: 20px 0;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
  card-directive .card .card-image {
    width: 100%;
    height: 60%;
    background-color: #26A69A;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: end;
        -webkit-box-align: end;
            align-items: flex-end;
    position: relative; }
    card-directive .card .card-image i {
      font-size: 30px;
      position: absolute;
      top: 5px;
      right: 5px; }
    card-directive .card .card-image h2 {
      margin: 0px 0px 15px 20px;
      font-size: 24px;
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      color: white; }
  card-directive .card .card-description {
    width: 100%;
    height: 20%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
        -webkit-box-align: center;
            align-items: center;
    border-bottom: 1px solid #E0E0E0;
    padding: 0 10px; }
    card-directive .card .card-description h3 {
      margin: 0px 20px;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      color: #BDBDBD; }
  card-directive .card .card-controls {
    width: 100%; }
    card-directive .card .card-controls a, card-directive .card .card-controls label {
      -webkit-transform: translateY(10px);
              transform: translateY(10px); }
    card-directive .card .card-controls #left {
      float: left;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      color: #BDBDBD;
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
      padding-left: 10px; }
    card-directive .card .card-controls #right {
      float: right;
      margin-right: 5px; }

favcard-directive {
  width: 100%; }
  favcard-directive .card {
    height: 100px;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin: 15px 0;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
    favcard-directive .card .card-image {
      width: 40%;
      border-radius: 2px;
      height: 100%;
      background-color: #26A69A;
      position: relative; }
      favcard-directive .card .card-image i {
        font-size: 20px;
        position: absolute;
        top: 5px;
        right: 5px; }
      favcard-directive .card .card-image h2 {
        position: absolute;
        bottom: 3px;
        left: 0px;
        font-size: 14px;
        margin: 0px 0px 10px 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        color: white; }
    favcard-directive .card .card-description {
      width: 60%;
      padding: 0 10px;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-direction: column;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              flex-direction: column;
      -ms-flex-pack: center;
          -webkit-box-pack: center;
              justify-content: center;
      -ms-flex-align: center;
          -webkit-box-align: center;
              align-items: center; }
      favcard-directive .card .card-description h3 {
        font-size: 12px;
        margin: 0px 20px;
        font-family: 'Roboto', sans-serif;
        color: #BDBDBD; }

.bottom-sidebar {
  width: 101%;
  height: 101vh;
  background-color: #5E35B1;
  position: fixed;
  top: 0px;
  left: -1px;
  right: 0px;
  bottom: 0px;
  overflow-y: hidden;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  will-change: transform;
  -webkit-transition: 0.2s cubic-bezier(0, 0, 0.3, 1);
  transition: 0.2s cubic-bezier(0, 0, 0.3, 1); }
  .bottom-sidebar form {
    width: 100%;
    height: 80vh;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            flex-direction: column;
    -ms-flex-pack: justify;
        -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-flex-align: center;
        -webkit-box-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center; }
    .bottom-sidebar form input {
      width: 80%;
      height: 50px;
      margin: 0 auto; }
    .bottom-sidebar form label {
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      padding-bottom: 10px;
      text-align: center; }
    .bottom-sidebar form .file {
      position: relative;
      overflow: hidden;
      margin-top: 20px;
      background-color: rgba(255, 64, 129, 0.6);
      padding: 10px 25px;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      border: none;
      border-radius: 4px; }
    .bottom-sidebar form .upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0; }
    .bottom-sidebar form .item-submit {
      width: 200px;
      height: 50px;
      margin: 0 auto;
      background-color: #ff4081;
      border: none;
      border-radius: 4px;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 24px;
      text-align: center; }

.close-icon {
  background-color: rgba(255, 64, 129, 0.6);
  padding: 5px 10px;
  border-radius: 4px; }

#toggler-2 {
  display: none; }
  #toggler-2:checked + .bottom-sidebar {
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%); }

.active {
  color: gold; }

.not-active {
  color: white; }

.active-bar {
  background-color: darkslategray; }

.fav {
  font-family: 'Roboto', sans-serif;
  font-size: 24px; }

/* Angular animations */
.animation {
  -webkit-transition: 0.3s cubic-bezier(0, 0, 0.3, 1) all; }

.animation.ng-enter {
  opacity: 0; }

.animation.ng-leave {
  opacity: 1; }

.animation.ng-enter.ng-enter-active {
  opacity: 1; }

.animation.ng-leave.ng-leave-active {
  opacity: 0; }

.card-expanded {
  width: 95vw;
  height: 80vh; }

.lol {
  height: 300px;
  width: 100%;
  background-color: green; }