<div class="card animation" ng-repeat="item in items | filter: search">
    <div class="card-image">
        <i ng-class="{'active': item.fav, 'not-active': !item.fav}" ng-click="makeFav(item.$id)">&#9734;</i>
        <h2>{{ item.title }}</h2>
    </div>
    <div class="card-description">
        <h3>{{ item.description }}</h3>
    </div>
    <div class="card-controls">
        <label id="left">&#9971; | {{item.place}}</label>
        <a id="right" class="remove-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="items.$remove(item)">Remove</a>
    </div>
</div>