<div class="card animation" ng-repeat="item in items | filter: search" ng-if="item.fav">
    <div class="card-image">
        <i ng-class="{'active': item.fav, 'not-active': !item.fav}" ng-click="makeFav(item.$id)">&#9734;</i>
        <h2>{{ item.title }}</h2>
    </div>
    <div class="card-description">
        <h3>{{ item.description }}</h3>
    </div>
    <div class="card-controls">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Expand</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="items.$remove(item)">Remove</button>
    </div>
</div>