<div class="search-tab">
    <input class="search-input" type="search" placeholder="&#128269; Search" ng-model="search">
</div>
<div class="wrapper">
    <card-directive></card-directive>
</div>

<input type="checkbox" id="toggler-2">
<div class="bottom-sidebar">
    <div class="exit">
        <label for="toggler-2" class="close-icon">&#10006;</label>
    </div>
    <form name="itemRegForm" novalidate>
        <div class="file">
            <span>Upload a picture</span>
            <input type="file" name="file" ngf-select ng-model="picFile" accept="image/*" ngf-max-size="4MB" ngf-model-invalid="errorFile" class="upload" ng-required="true" ng-model="item.img">
        </div>
        <div class="text">
            <label for="sample1">Title</label>
            <input type="text" name="title" id="sample1" ng-model="item.title" ng-required="true" ng-maxlength="30">
        </div>
        <div class="text">
            <label for="sample1">Description</label>
            <input type="text" name="description" id="sample1" ng-model="item.description" ng-required="true" ng-maxlength="25">
        </div>
        <div class="text">
            <label for="sample1">Last known place</label>
            <input type="text" name="place" id="sample1" ng-model="item.place" ng-required="true" ng-maxlength="20">
        </div>
        <div class="adder">
            <button ng-click="addItem(picFile)" class="item-submit" ng-disabled="itemRegForm.$invalid">Add</button>
        </div>
    </form>
</div>